In [1]:
import pandas as pd

# データフレームの作成
data = {"Name":["Alice","Bob","Charlie","David","Eve"],
        "Age":[25,30,35,40,45],}

df = pd.DataFrame(data)
df

      Name  Age
0    Alice   25
1      Bob   30
2  Charlie   35
3    David   40
4      Eve   45

In [ ]:
# 合計
df["Age"].sum()

np.int64(175)

In [4]:
# 平均
df["Age"].mean()

np.float64(35.0)

In [5]:
# 分散
df["Age"].var()

np.float64(62.5)

In [6]:
# 標準偏差
df["Age"].std()

np.float64(7.905694150420948)