In [1]:
import pandas as pd

# データフレームの作成
data = {"Name":["Alice","Bob","Charlie","David","Eve"],
        "Age":[25,30,35,40,45],}

df = pd.DataFrame(data)
df

      Name  Age
0    Alice   25
1      Bob   30
2  Charlie   35
3    David   40
4      Eve   45

In [ ]:
# 基本統計量の概算 便利
df.describe()

             Age
count   5.000000
mean   35.000000
std     7.905694
min    25.000000
25%    30.000000
50%    35.000000
75%    40.000000
max    45.000000