In [1]:
import pandas as pd

# データフレームの作成
data = {"Product": ['A', 'B', 'C', 'D'],
        "Category": ['Electronics', 'Furniture', 'Electronics', 'Furniture'],
        "Sales": [200, 300, 150, 400]}

df = pd.DataFrame(data)
df

  Product     Category  Sales
0       A  Electronics    200
1       B    Furniture    300
2       C  Electronics    150
3       D    Furniture    400

In [ ]:
# 列 Category ごとの Sales の合計を計算する。
df.groupby("Category")["Sales"].sum()

Category
Electronics    350
Furniture      700
Name: Sales, dtype: int64

In [4]:
# クロス集計表を作成して、Category 列と Product 列の関係を表示する。
crosstab = pd.crosstab(df["Category"],df["Product"])
crosstab

Product      A  B  C  D
Category
Electronics  1  0  1  0
Furniture    0  1  0  1