In [2]:
import pandas as pd

# データフレームの作成
data = {"Name":["Alice","Bob","Charlie","David","Eve"],
        "Age":[25,30,35,40,45],}

df = pd.DataFrame(data)
df

      Name  Age
0    Alice   25
1      Bob   30
2  Charlie   35
3    David   40
4      Eve   45

In [3]:
df.iloc[0]

Name    Alice
Age        25
Name: 0, dtype: object

In [7]:
# 1:3 は「1行目から3行目の直前まで」（つまり1行目と2行目）を選択する
df.iloc[1:2]

  Name  Age
1  Bob   30